* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.flex {
  display: flex;
}

.gap-m {
  gap: 32px;
}

.procedure-specs-wrapper {
  background-color: rgba(31, 31, 31, 0.3333333333);
  display: flex;
  justify-content: center;
  padding: 32px;
}
.procedure-specs-wrapper .custom-container {
  background-color: #FFF;
  padding: 32px;
  border-radius: 32px;
  height: calc(100vh - 64px);
  overflow-y: scroll;
}
.procedure-specs-wrapper .col {
  width: 50%;
}

.close-procedure-specs-btn {
  background-color: #D4CDBB;
  border: 0;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #FFF;
  transition: 0.5s;
  cursor: pointer;
}
.close-procedure-specs-btn:hover {
  background-color: #B98B69;
}

.procedure-name {
  font-size: 34px;
  color: #B98B69;
  margin-bottom: 0px;
}

.procedure-description {
  font-size: 18px;
  margin: 0;
}

#procedure-specs-details {
  margin: 16px 0 32px;
}

.custom-container {
  width: 100%;
  max-width: 800px;
}
