*{
  box-sizing: border-box;
}

img{
  width: 100%;
}

.text-align-right{
  text-align: right;
}

.text-align-center{
  text-align: center;
}

.flex{
  display: flex;
}

.gap-m{
  gap: 32px;
}

.linear-gradient-btn{
  background-image: linear-gradient(180deg, #B98B69, #D4CDBB);
  padding: 8px 16px;
  border-radius: 8px;
  color: #FFF;
  text-decoration: none;
  transition: 0.5s;
  display: inline-flex;

  &:hover{
    transform: translateY(-8px);
  }
}

.procedure-specs-wrapper{
  background-color: #1F1F1F55;
  display: flex;
  justify-content: center;
  padding: 32px;


  .custom-container{
    background-color: #FFF;
    padding: 32px;
    border-radius: 32px;
    height: calc(100vh - 64px);
    overflow-y: scroll;
    position: relative;
  }

  .col{
    width: 50%;
  }
}

.close-procedure-specs-btn{
  background-color: #D4CDBB;
  border: 0;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #FFF;
  transition: 0.5s;
  cursor: pointer;
  position: absolute;
  right: 32px;

  &:hover{
    background-color: #B98B69;
  }
}

.procedure-name{
  font-size: 34px;
  color: #B98B69;
  margin-bottom: 0px;
  padding: 0 46px;
}

.procedure-description{
  font-size: 18px;
  margin: 0;
}

#procedure-specs-details{
  margin: 32px 0 32px;
}

.custom-container{
  width: 100%;
  max-width: 800px;
}